---

---

<section class="flex flex-col gap-4">
  <h2 class="text-2xl font-semibold text-gray-300">Education & Achievements</h2>
  <div class="bg-gray-700 p-4 rounded-lg">
    <h3 class="text-lg font-medium text-gray-200">EthOnline 21</h3>
    <p class="text-gray-400">Finalist: getsplice.io</p>
    <p class="text-gray-400">2021</p>
  </div>

  <div class="bg-gray-700 p-4 rounded-lg">
    <h3 class="text-lg font-medium text-gray-200">Blockchain Hackathon STR</h3>
    <p class="text-gray-400">Grand Prize Marketing</p>
    <p class="text-gray-400">2019</p>
  </div>

  <div class="bg-gray-700 p-4 rounded-lg">
    <h3 class="text-lg font-medium text-gray-200">Blockstack Hackathon</h3>
    <p class="text-gray-400">First Prize: Blockstagram</p>
    <p class="text-gray-400">2018</p>
  </div>

  <div class="bg-gray-700 p-4 rounded-lg">
    <h3 class="text-lg font-medium text-gray-200">DevDay 17</h3>
    <p class="text-gray-400">Best Speaker</p>
    <p class="text-gray-400">2017</p>
  </div>

  <div class="bg-gray-700 p-4 rounded-lg">
    <h3 class="text-lg font-medium text-gray-200">Mathematics (FH/Diploma)</h3>
    <p class="text-gray-400">Technische Fachhochschule Berlin</p>
    <p class="text-gray-400">Graduated: 2001</p>
  </div>
</section>
