---
import "swiper/css/bundle";
import "swiper/css/navigation";
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/ct_speaker.jpg" alt="Stefan" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/moderate_bo.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/meetup_ivq.jpg" alt="Stefan" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/bchh2.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/bch2.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/blockstagram.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/cb_txb.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/sfliveb_speaker.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/hack_bvg.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/hack_eb2.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/hack2.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/ostalb.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/meetup_pt.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/meetup.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <div class="swiper-slide">
      <div class="aspect-w-16 aspect-h-9  rounded-lg overflow-hidden">
        <img src="/txb_final_presentation.jpg" alt="Another Image" class="object-cover" />
      </div>
    </div>
    <!-- Add more SwiperSlide components as needed -->
  </div>
<div class="swiper-pagination"></div>
  <script>
    import Swiper from "swiper";
    import { Pagination, Autoplay } from "swiper/modules";

    const swiper = new Swiper(".swiper", {
      modules: [Autoplay, Pagination],
      spaceBetween: 10,
      autoplay: {
        delay: 2000,
      },
      loop: true,
      enabled: true,
      init: true,
    });
    console.log(swiper);
  </script>
</div>
