---
import Station from "./station.astro";
---

<section>
  <h2 class="text-2xl font-semibold mb-4 text-gray-300">Stations</h2>
  <div class="space-y-4">
    <Station
      title="welshare UG"
      time="Mar 2025 - Present"
      position="CTO / Co Founder"
    />
    <Station
      title="Molecule AG"
      time="Oct 2022 - Mar 2025"
      position="Lead Web3 Developer"
    />
    <Station
      title="Head Curator"
      time="2021 - Oct 2022"
      position="Codetalks / About YOU"
    />
    <Station
      title="Freelancing"
      time="Jan 2022 - Oct 2022"
      position="warranti, Laconic e.a."
    />
    <Station
      title="Turbine Kreuzberg"
      time="Jan 2018 - Dec 2021"
      position="Developer Ambassador"
    />
    <Station
      title="eh Visio / Check24"
      time="Oct 2015 - Dec 2017"
      position="Senior Fullstack Engineer"
    />
    <Station
      title="Discounto.de"
      time="Jan 2014 - Sep 2015"
      position="Señor Developer"
    />
    <Station title="Qurate" time="Jun 2012 - Nov 2013" position="Cofounder" />
    <Station
      title="Samsung SDS / Europe"
      time="May 2010 - May 2012"
      position="Assistant Manager"
    />
  </div>
</section>
